// ================================================
// GRID LINES
// ================================================

// cleafix the grid lines
.grid:before,
.grid:after {
	content: "";
	display: table;
}

.grid:after {
	clear: both;
}

.grid {
	zoom: 1;
	font-size: 0;
}

// ================================================
// GRID UNITS
// ================================================

.grid .unit {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.grid > .line {
	display: block;
}

// one
.size1of1	{ width: 100%;}
// two
.size1of2	{ width: 50%;}
.size2of2	{ width: 100%;}
// three
.size1of3	{ width: 33.33%;}
.size2of3	{ width: 66.666%;}
.size3of3	{ width: 100%;}
// four
.size1of4	{ width: 25%;}
.size2of4	{ width: 50%;}
.size3of4	{ width: 75%;}
.size4of4	{ width: 100%;}
// five
.size1of5	{ width: 19.99%;}
.size2of5	{ width: 40%;}
.size3of5	{ width: 60%;}
.size4of5	{ width: 80%;}
.size5of5	{ width: 100%;}
// six
.size1of6	{ width: 16.66%;}
.size2of6	{ width: 33.33%;}
.size3of6	{ width: 50%;}
.size4of6	{ width: 66.666%;}
.size5of6	{ width: 83.333%;}
.size6of6	{ width: 100%;}
// seven
.size1of7	{ width: 14.28%;}
.size2of7	{ width: 28.5705%;}
.size3of7	{ width: 42.857%;}
.size4of7	{ width: 57.142%;}
.size5of7	{ width: 71.428%;}
.size6of7	{ width: 85.714%;}
.size7of7	{ width: 100%;}
// eight
.size1of8	{ width: 12.5%;}
.size2of8	{ width: 25%;}
.size3of8	{ width: 37.5%;}
.size4of8	{ width: 50%;}
.size5of8	{ width: 62.5%;}
.size6of8	{ width: 75%;}
.size7of8	{ width: 87.5%;}
.size8of8	{ width: 100%;}
// nine
.size1of9	{ width: 11.105%;}
.size2of9	{ width: 22.2205%;}
.size3of9	{ width: 33.33%;}
.size4of9	{ width: 44.444%;}
.size5of9	{ width: 55.555%;}
.size6of9	{ width: 66.666%;}
.size7of9	{ width: 77.777%;}
.size8of9	{ width: 88.888%;}
.size9of9	{ width: 100%;}
// ten
.size1of10	{ width: 9.9973%;}
.size2of10	{ width: 19.99%;}
.size3of10	{ width: 29.99%;}
.size4of10	{ width: 40%;}
.size5of10	{ width: 50%;}
.size6of10	{ width: 60%;}
.size7of10	{ width: 70%;}
.size8of10	{ width: 80%;}
.size9of10	{ width: 90%;}
.size10of10	{ width: 100%;}
// eleven
.size1of11	{ width: 9.088%;}
.size2of11	{ width: 18.175%;}
.size3of11	{ width: 27.272%;}
.size4of11	{ width: 36.362%;}
.size5of11	{ width: 45.454%;}
.size6of11	{ width: 54.545%;}
.size7of11	{ width: 63.636%;}
.size8of11	{ width: 72.727%;}
.size9of11	{ width: 81.818%;}
.size10of11	{ width: 90.909%;}
.size11of11	{ width: 100%;}
// twelve
.size1of12	{ width: 8.3315%;}
.size2of12	{ width: 16.665%;}
.size3of12	{ width: 25%;}
.size4of12	{ width: 33.3315%;}
.size5of12	{ width: 41.666%;}
.size6of12	{ width: 50%;}
.size7of12	{ width: 58.333%;}
.size8of12	{ width: 66.666%;}
.size9of12	{ width: 75%;}
.size10of12	{ width: 83.333%;}
.size11of12	{ width: 91.666%;}
.size12of12	{ width: 100%;}

// ================================================
// HORIZONTAL SPACING
// ================================================

.grid-spacing {
	margin-left: -3%;
}

.grid-spacing > .unit {
	padding-left: 3%;
}

.grid-spacing > *:not(.unit) {
	padding-left: 3%;
}

// ================================================
// horizontal spacing -- extra small
// ================================================

.grid-hxs {
	margin-left: -5px;
}

.grid-hxs > .unit {
	padding-left: 5px;
}

.grid-hxs > *:not(.unit) {
	margin-left: 5px;
}

// ================================================
// horizontal spacing -- small
// ================================================

.grid-hs {
	margin-left: -10px;
}

.grid-hs > .unit {
	padding-left: 10px;
}

.grid-hs > *:not(.unit) {
	margin-left: 10px;
}

// ================================================
// horizontal spacing -- medium
// ================================================

.grid-h,
.grid-hm {
	margin-left: -20px;
}

.grid-h > .unit,
.grid-hm > .unit {
	padding-left: 20px;
}

// ================================================
// horizontal spacing -- large
// ================================================

.grid-hl {
	margin-left: -30px;
}

.grid-hl > .unit {
	padding-left: 30px;
}

// ================================================
// horizontal spacing -- extra large
// ================================================

.grid-hxl {
	margin-left: -40px;
}

.grid-hxl > .unit {
	padding-left: 40px;
}

// ================================================
// horizontal spacing -- extra extra large
// ================================================

.grid-hxxl {
	margin-left: -50px;
}

.grid-hxxl > .unit {
	padding-left: 50px;
}

// ================================================
// VERTICAL SPACING
// ================================================

.grid-vxs > .unit {
	margin-bottom: 5px;
}

.grid-vs > .unit {
	margin-bottom: 10px;
}

.grid-v  > .unit,
.grid-vm > .unit {
	margin-bottom: 20px;
}

.grid-vl > .unit {
	margin-bottom: 30px;
}

.grid-vxl > .unit {
	margin-bottom: 40px;
}

.grid-vxxl > .unit {
	margin-bottom: 50px;
}

// ================================================
// LAST UNIT
// ================================================

.last-vn > .unit:last-child {
	margin-bottom: 0;
}

.last-vxs > .unit:last-child {
	margin-bottom: 5px;
}

.last-vs > .unit:last-child {
	margin-bottom: 10px;
}

.last-v > .unit:last-child,
.last-vm > .unit:last-child {
	margin-bottom: 20px;
}

.last-vl > .unit:last-child {
	margin-bottom: 30px;
}

.last-vxl > .unit:last-child {
	margin-bottom: 40px;
}

.last-vxxl > .unit:last-child {
	margin-bottom: 50px;
}

// ================================================
// LARGE
// ================================================

@media screen and (min-width: $desktop) {

	.large1of1		{ float: none; width: 100%}
	.large1of2		{ width: 50%;}
	.large2of2		{ width: 100%;}
	.large1of3		{ width: 33.33%;}
	.large2of3		{ width: 66.666%;}
	.large3of3		{ width: 100%;}
	.large1of4		{ width: 25%;}
	.large2of4		{ width: 50%;}
	.large3of4		{ width: 75%;}
	.large4of4		{ width: 100%;}
	.large1of5		{ width: 19.99%;}
	.large2of5		{ width: 40%;}
	.large3of5		{ width: 60%;}
	.large4of5		{ width: 80%;}
	.large5of5		{ width: 100%;}
	.large1of6		{ width: 16.66%;}
	.large2of6		{ width: 33.33%;}
	.large3of6		{ width: 50%;}
	.large4of6		{ width: 66.666%;}
	.large5of6		{ width: 83.333%;}
	.large6of6		{ width: 100%;}
	.large1of7		{ width: 14.28%;}
	.large2of7		{ width: 28.5705%;}
	.large3of7		{ width: 42.857%;}
	.large4of7		{ width: 57.142%;}
	.large5of7		{ width: 71.428%;}
	.large6of7		{ width: 85.714%;}
	.large7of7		{ width: 100%;}
	.large1of8		{ width: 12.5%;}
	.large2of8		{ width: 25%;}
	.large3of8		{ width: 37.5%;}
	.large4of8		{ width: 50%;}
	.large5of8		{ width: 62.5%;}
	.large6of8		{ width: 75%;}
	.large7of8		{ width: 87.5%;}
	.large8of8		{ width: 100%;}
	.large1of9		{ width: 11.105%;}
	.large2of9		{ width: 22.2205%;}
	.large3of9		{ width: 33.33%;}
	.large4of9		{ width: 44.444%;}
	.large5of9		{ width: 55.555%;}
	.large6of9		{ width: 66.666%;}
	.large7of9		{ width: 77.777%;}
	.large8of9		{ width: 88.888%;}
	.large9of9		{ width: 100%;}
	.large1of10		{ width: 9.9973%;}
	.large2of10		{ width: 19.99%;}
	.large3of10		{ width: 29.99%;}
	.large4of10		{ width: 40%;}
	.large5of10		{ width: 50%;}
	.large6of10		{ width: 60%;}
	.large7of10		{ width: 70%;}
	.large8of10		{ width: 80%;}
	.large9of10		{ width: 90%;}
	.large10of10	{ width: 100%;}
	.large1of11		{ width: 9.088%;}
	.large2of11		{ width: 18.175%;}
	.large3of11		{ width: 27.272%;}
	.large4of11		{ width: 36.362%;}
	.large5of11		{ width: 45.454%;}
	.large6of11		{ width: 54.545%;}
	.large7of11		{ width: 63.636%;}
	.large8of11		{ width: 72.727%;}
	.large9of11		{ width: 81.818%;}
	.large10of11	{ width: 90.909%;}
	.large11of11	{ width: 100%;}
	.large1of12		{ width: 8.3315%;}
	.large2of12		{ width: 16.665%;}
	.large3of12		{ width: 25%;}
	.large4of12		{ width: 33.3315%;}
	.large5of12		{ width: 41.666%;}
	.large6of12		{ width: 50%;}
	.large7of12		{ width: 58.333%;}
	.large8of12		{ width: 66.666%;}
	.large9of12		{ width: 75%;}
	.large10of12	{ width: 83.333%;}
	.large11of12	{ width: 91.666%;}
	.large12of12	{ width: 100%;}

	// ================================================
	// VERTICAL SPACING
	// ================================================

	.large-vn > .unit {
		margin-bottom: 0;
	}

	.large-vxs > .unit {
		margin-bottom: 5px;
	}

	.large-vs > .unit {
		margin-bottom: 10px;
	}

	.large-v > .unit,
	.large-vm > .unit {
		margin-bottom: 20px;
	}

	.large-vl > .unit {
		margin-bottom: 30px;
	}

	.large-vxl > .unit {
		margin-bottom: 40px;
	}

	.large-vxxl > .unit {
		margin-bottom: 50px;
	}

	// =======================================
	// HORIZONTAL SPACING =========
	// =======================================

	.large-hn {
		margin-left: 0;
	}

	.large-hn > .unit {
		padding-left: 0;
	}

	.large-hxs {
		margin-left: -5px;
	}

	.large-hxs > .unit {
		padding-left: 5px;
	}

	.large-hs {
		margin-left: -10px;
	}

	.large-hs > .unit {
		padding-left: 10px;
	}

	.large-h,
	.large-hm {
		margin-left: -20px;
	}

	.large-h > .unit,
	.large-hm > .unit {
		padding-left: 20px;
	}

	.large-hl {
		margin-left: -30px;
	}

	.large-hl > .unit {
		padding-left: 30px;
	}

	.large-hxl {
		margin-left: -40px;
	}

	.large-hxl > .unit {
		padding-left: 40px;
	}

	.large-hxxl {
		margin-left: -50px;
	}

	.large-hxxl > .unit {
		padding-left: 50px;
	}

}

// =======================================
// TABLET ===============
// =======================================

@media screen and (max-width: $tablet) and (min-width: $mini) {

	.tablet1of1		{ float: none; width: 100%}
	.tablet1of2		{ width: 50%;}
	.tablet2of2		{ width: 100%;}
	.tablet1of3		{ width: 33.33%;}
	.tablet2of3		{ width: 66.666%;}
	.tablet3of3		{ width: 100%;}
	.tablet1of4		{ width: 25%;}
	.tablet2of4		{ width: 50%;}
	.tablet3of4		{ width: 75%;}
	.tablet4of4		{ width: 100%;}
	.tablet1of5		{ width: 19.99%;}
	.tablet2of5		{ width: 40%;}
	.tablet3of5		{ width: 60%;}
	.tablet4of5		{ width: 80%;}
	.tablet5of5		{ width: 100%;}
	.tablet1of6		{ width: 16.66%;}
	.tablet2of6		{ width: 33.33%;}
	.tablet3of6		{ width: 50%;}
	.tablet4of6		{ width: 66.666%;}
	.tablet5of6		{ width: 83.333%;}
	.tablet6of6		{ width: 100%;}
	.tablet1of7		{ width: 14.28%;}
	.tablet2of7		{ width: 28.5705%;}
	.tablet3of7		{ width: 42.857%;}
	.tablet4of7		{ width: 57.142%;}
	.tablet5of7		{ width: 71.428%;}
	.tablet6of7		{ width: 85.714%;}
	.tablet7of7		{ width: 100%;}
	.tablet1of8		{ width: 12.5%;}
	.tablet2of8		{ width: 25%;}
	.tablet3of8		{ width: 37.5%;}
	.tablet4of8		{ width: 50%;}
	.tablet5of8		{ width: 62.5%;}
	.tablet6of8		{ width: 75%;}
	.tablet7of8		{ width: 87.5%;}
	.tablet8of8		{ width: 100%;}
	.tablet1of9		{ width: 11.105%;}
	.tablet2of9		{ width: 22.2205%;}
	.tablet3of9		{ width: 33.33%;}
	.tablet4of9		{ width: 44.444%;}
	.tablet5of9		{ width: 55.555%;}
	.tablet6of9		{ width: 66.666%;}
	.tablet7of9		{ width: 77.777%;}
	.tablet8of9		{ width: 88.888%;}
	.tablet9of9		{ width: 100%;}
	.tablet1of10	{ width: 9.9973%;}
	.tablet2of10	{ width: 19.99%;}
	.tablet3of10	{ width: 29.99%;}
	.tablet4of10	{ width: 40%;}
	.tablet5of10	{ width: 50%;}
	.tablet6of10	{ width: 60%;}
	.tablet7of10	{ width: 70%;}
	.tablet8of10	{ width: 80%;}
	.tablet9of10	{ width: 90%;}
	.tablet10of10	{ width: 100%;}
	.tablet1of11	{ width: 9.088%;}
	.tablet2of11	{ width: 18.175%;}
	.tablet3of11	{ width: 27.272%;}
	.tablet4of11	{ width: 36.362%;}
	.tablet5of11	{ width: 45.454%;}
	.tablet6of11	{ width: 54.545%;}
	.tablet7of11	{ width: 63.636%;}
	.tablet8of11	{ width: 72.727%;}
	.tablet9of11	{ width: 81.818%;}
	.tablet10of11	{ width: 90.909%;}
	.tablet11of11	{ width: 100%;}
	.tablet1of12	{ width: 8.3315%;}
	.tablet2of12	{ width: 16.665%;}
	.tablet3of12	{ width: 25%;}
	.tablet4of12	{ width: 33.3315%;}
	.tablet5of12	{ width: 41.666%;}
	.tablet6of12	{ width: 50%;}
	.tablet7of12	{ width: 58.333%;}
	.tablet8of12	{ width: 66.666%;}
	.tablet9of12	{ width: 75%;}
	.tablet10of12	{ width: 83.333%;}
	.tablet11of12	{ width: 91.666%;}
	.tablet12of12	{ width: 100%;}

	// =======================================
	// ==========VERTICAL SPACING =========
	// =======================================

	.tablet-vn > .unit{
		margin-bottom: 0;
	}

	.tablet-vxs > .unit {
		margin-bottom: 5px;
	}

	.tablet-vs > .unit {
		margin-bottom: 10px;
	}

	.tablet-v > .unit,
	.tablet-vm > .unit {
		margin-bottom: 20px;
	}

	.tablet-vl > .unit {
		margin-bottom: 30px;
	}

	.tablet-vxl > .unit {
		margin-bottom: 40px;
	}

	.tablet-vxxl > .unit {
		margin-bottom: 50px;
	}

	// =======================================
	// HORIZONTAL SPACING =========
	// =======================================

	.tablet-hn {
		margin-left: 0;
	}

	.tablet-hn > .unit {
		padding-left: 0;
	}

	.tablet-hxs {
		margin-left: -5px;
	}

	.tablet-hxs > .unit {
		padding-left: 5px;
	}

	.tablet-hs {
		margin-left: -10px;
	}

	.tablet-hs > .unit {
		padding-left: 10px;
	}

	.tablet-h,
	.tablet-hm {
		margin-left: -20px;
	}

	.tablet-h > .unit,
	.tablet-hm > .unit {
		padding-left: 20px;
	}

	.tablet-hl {
		margin-left: -30px;
	}

	.tablet-hl > .unit {
		padding-left: 30px;
	}

	.tablet-hxl {
		margin-left: -40px;
	}

	.tablet-hxl > .unit {
		padding-left: 40px;
	}

	.tablet-hxxl {
		margin-left: -50px;
	}

	.tablet-hxxl > .unit {
		padding-left: 50px;
	}

}

// =======================================
// MINI ===============
// =======================================

@media screen and (max-width: $mini) and (min-width: $mobile) {

	.mini1of1	{ float: none; width: 100%}
	.mini1of2	{ width: 50%;}
	.mini2of2	{ width: 100%;}
	.mini1of3	{ width: 33.33%;}
	.mini2of3	{ width: 66.666%;}
	.mini3of3	{ width: 100%;}
	.mini1of4	{ width: 25%;}
	.mini2of4	{ width: 50%;}
	.mini3of4	{ width: 75%;}
	.mini4of4	{ width: 100%;}
	.mini1of5	{ width: 19.99%;}
	.mini2of5	{ width: 40%;}
	.mini3of5	{ width: 60%;}
	.mini4of5	{ width: 80%;}
	.mini5of5	{ width: 100%;}
	.mini1of6	{ width: 16.66%;}
	.mini2of6	{ width: 33.33%;}
	.mini3of6	{ width: 50%;}
	.mini4of6	{ width: 66.666%;}
	.mini5of6	{ width: 83.333%;}
	.mini6of6	{ width: 100%;}
	.mini1of7	{ width: 14.28%;}
	.mini2of7	{ width: 28.5705%;}
	.mini3of7	{ width: 42.857%;}
	.mini4of7	{ width: 57.142%;}
	.mini5of7	{ width: 71.428%;}
	.mini6of7	{ width: 85.714%;}
	.mini7of7	{ width: 100%;}
	.mini1of8	{ width: 12.5%;}
	.mini2of8	{ width: 25%;}
	.mini3of8	{ width: 37.5%;}
	.mini4of8	{ width: 50%;}
	.mini5of8	{ width: 62.5%;}
	.mini6of8	{ width: 75%;}
	.mini7of8	{ width: 87.5%;}
	.mini8of8	{ width: 100%;}
	.mini1of9	{ width: 11.105%;}
	.mini2of9	{ width: 22.2205%;}
	.mini3of9	{ width: 33.33%;}
	.mini4of9	{ width: 44.444%;}
	.mini5of9	{ width: 55.555%;}
	.mini6of9	{ width: 66.666%;}
	.mini7of9	{ width: 77.777%;}
	.mini8of9	{ width: 88.888%;}
	.mini9of9	{ width: 100%;}
	.mini1of10	{ width: 9.9973%;}
	.mini2of10	{ width: 19.99%;}
	.mini3of10	{ width: 29.99%;}
	.mini4of10	{ width: 40%;}
	.mini5of10	{ width: 50%;}
	.mini6of10	{ width: 60%;}
	.mini7of10	{ width: 70%;}
	.mini8of10	{ width: 80%;}
	.mini9of10	{ width: 90%;}
	.mini10of10	{ width: 100%;}
	.mini1of11	{ width: 9.088%;}
	.mini2of11	{ width: 18.175%;}
	.mini3of11	{ width: 27.272%;}
	.mini4of11	{ width: 36.362%;}
	.mini5of11	{ width: 45.454%;}
	.mini6of11	{ width: 54.545%;}
	.mini7of11	{ width: 63.636%;}
	.mini8of11	{ width: 72.727%;}
	.mini9of11	{ width: 81.818%;}
	.mini10of11	{ width: 90.909%;}
	.mini11of11	{ width: 100%;}
	.mini1of12	{ width: 8.3315%;}
	.mini2of12	{ width: 16.665%;}
	.mini3of12	{ width: 25%;}
	.mini4of12	{ width: 33.3315%;}
	.mini5of12	{ width: 41.666%;}
	.mini6of12	{ width: 50%;}
	.mini7of12	{ width: 58.333%;}
	.mini8of12	{ width: 66.666%;}
	.mini9of12	{ width: 75%;}
	.mini10of12	{ width: 83.333%;}
	.mini11of12	{ width: 91.666%;}
	.mini12of12	{ width: 100%;}

	// =======================================
	// ==========VERTICAL SPACING =========
	// =======================================

	.mini-vn > .unit {
		margin-bottom: 0;
	}

	.mini-vxs > .unit {
		margin-bottom: 5px;
	}

	.mini-vs > .unit {
		margin-bottom: 10px;
	}

	.mini-v > .unit,
	.mini-vm > .unit {
		margin-bottom: 20px;
	}


	.mini-vl > .unit {
		margin-bottom: 30px;
	}

	.mini-vxl > .unit {
		margin-bottom: 40px;
	}

	.mini-vxxl > .unit {
		margin-bottom: 50px;
	}

	// =======================================
	// HORIZONTAL SPACING =========
	// =======================================

	.mini-hn {
		margin-left: 0;
	}

	.mini-hn > .unit {
		padding-left: 0;
	}

	.mini-hxs {
		margin-left: -5px;
	}

	.mini-hxs > .unit {
		padding-left: 5px;
	}

	.mini-hs {
		margin-left: -10px;
	}

	.mini-hs > .unit {
		padding-left: 10px;
	}

	.mini-h,
	.mini-hm {
		margin-left: -20px;
	}

	.mini-h > .unit,
	.mini-hm > .unit {
		padding-left: 20px;
	}

	.mini-hl {
		margin-left: -30px;
	}

	.mini-hl > .unit {
		padding-left: 30px;
	}

	.mini-hxl {
		margin-left: -40px;
	}

	.mini-hxl > .unit {
		padding-left: 40px;
	}

	.mini-hxxl {
		margin-left: -50px;
	}

	.mini-hxxl > .unit {
		padding-left: 50px;
	}

}

// =======================================
// MOBILE ===============
// =======================================

@media screen and (max-width: $mobile) {

	.mobile1of1		{ float: none; width: 100%}
	.mobile1of2		{ width: 50%;}
	.mobile2of2		{ width: 100%;}
	.mobile1of3		{ width: 33.33%;}
	.mobile2of3		{ width: 66.666%;}
	.mobile3of3		{ width: 100%;}
	.mobile1of4		{ width: 25%;}
	.mobile2of4		{ width: 50%;}
	.mobile3of4		{ width: 75%;}
	.mobile4of4		{ width: 100%;}
	.mobile1of5		{ width: 19.99%;}
	.mobile2of5		{ width: 40%;}
	.mobile3of5		{ width: 60%;}
	.mobile4of5		{ width: 80%;}
	.mobile5of5		{ width: 100%;}
	.mobile1of6		{ width: 16.66%;}
	.mobile2of6		{ width: 33.33%;}
	.mobile3of6		{ width: 50%;}
	.mobile4of6		{ width: 66.666%;}
	.mobile5of6		{ width: 83.333%;}
	.mobile6of6		{ width: 100%;}
	.mobile1of7		{ width: 14.28%;}
	.mobile2of7		{ width: 28.5705%;}
	.mobile3of7		{ width: 42.857%;}
	.mobile4of7		{ width: 57.142%;}
	.mobile5of7		{ width: 71.428%;}
	.mobile6of7		{ width: 85.714%;}
	.mobile7of7		{ width: 100%;}
	.mobile1of8		{ width: 12.5%;}
	.mobile2of8		{ width: 25%;}
	.mobile3of8		{ width: 37.5%;}
	.mobile4of8		{ width: 50%;}
	.mobile5of8		{ width: 62.5%;}
	.mobile6of8		{ width: 75%;}
	.mobile7of8		{ width: 87.5%;}
	.mobile8of8		{ width: 100%;}
	.mobile1of9		{ width: 11.105%;}
	.mobile2of9		{ width: 22.2205%;}
	.mobile3of9		{ width: 33.33%;}
	.mobile4of9		{ width: 44.444%;}
	.mobile5of9		{ width: 55.555%;}
	.mobile6of9		{ width: 66.666%;}
	.mobile7of9		{ width: 77.777%;}
	.mobile8of9		{ width: 88.888%;}
	.mobile9of9		{ width: 100%;}
	.mobile1of10	{ width: 9.9973%;}
	.mobile2of10	{ width: 19.99%;}
	.mobile3of10	{ width: 29.99%;}
	.mobile4of10	{ width: 40%;}
	.mobile5of10	{ width: 50%;}
	.mobile6of10	{ width: 60%;}
	.mobile7of10	{ width: 70%;}
	.mobile8of10	{ width: 80%;}
	.mobile9of10	{ width: 90%;}
	.mobile10of10	{ width: 100%;}
	.mobile1of11	{ width: 9.088%;}
	.mobile2of11	{ width: 18.175%;}
	.mobile3of11	{ width: 27.272%;}
	.mobile4of11	{ width: 36.362%;}
	.mobile5of11	{ width: 45.454%;}
	.mobile6of11	{ width: 54.545%;}
	.mobile7of11	{ width: 63.636%;}
	.mobile8of11	{ width: 72.727%;}
	.mobile9of11	{ width: 81.818%;}
	.mobile10of11	{ width: 90.909%;}
	.mobile11of11	{ width: 100%;}
	.mobile1of12	{ width: 8.3315%;}
	.mobile2of12	{ width: 16.665%;}
	.mobile3of12	{ width: 25%;}
	.mobile4of12	{ width: 33.3315%;}
	.mobile5of12	{ width: 41.666%;}
	.mobile6of12	{ width: 50%;}
	.mobile7of12	{ width: 58.333%;}
	.mobile8of12	{ width: 66.666%;}
	.mobile9of12	{ width: 75%;}
	.mobile10of12	{ width: 83.333%;}
	.mobile11of12	{ width: 91.666%;}
	.mobile12of12	{ width: 100%;}

	// =======================================
	// ==========VERTICAL SPACING =========
	// =======================================

	.mobile-vn > .unit {
		margin-bottom: 0;
	}

	.mobile-vxs > .unit {
		margin-bottom: 5px;
	}

	.mobile-vs > .unit {
		margin-bottom: 10px;
	}

	.mobile-v > .unit,
	.mobile-vm > .unit {
		margin-bottom: 20px;
	}

	.mobile-vl > .unit {
		margin-bottom: 30px;
	}

	.mobile-vxl > .unit {
		margin-bottom: 40px;
	}

	.mobile-vxxl > .unit {
		margin-bottom: 50px;
	}

	// =======================================
	// HORIZONTAL SPACING =========
	// =======================================

	.mobile-hn {
		margin-left: 0;
	}

	.mobile-hn > .unit {
		padding-left: 0;
	}

	.mobile-hxs {
		margin-left: -5px;
	}

	.mobile-hxs > .unit {
		padding-left: 5px;
	}

	.mobile-hs {
		margin-left: -10px;
	}

	.mobile-hs > .unit {
		padding-left: 10px;
	}

	.mobile-h,
	.mobile-hm {
		margin-left: -20px;
	}

	.mobile-h > .unit,
	.mobile-hm > .unit {
		padding-left: 20px;
	}

	.mobile-hl {
		margin-left: -30px;
	}

	.mobile-hl > .unit {
		padding-left: 30px;
	}

	.mobile-hxl {
		margin-left: -40px;
	}

	.mobile-hxl > .unit {
		padding-left: 40px;
	}

	.mobile-hxxl {
		margin-left: -50px;
	}

	.mobile-hxxl > .unit {
		padding-left: 50px;
	}

}