// ===========================================================
// screen sizes
// ===========================================================

$desktop : 1024px;
$tablet  : 1024px;
$mini 	 : 768px;
$mobile  : 480px;

// ===========================================================
// colours
// ===========================================================

$white        : #FFFFFF;
$black        : #232323;
$orange       : #FF7D1D;
$blue         : #6364B1;
$green        : #62886D;
$green-bright : #AAE779; // #7FE567;

// ========================================
// this
// ========================================

$f_xl : 28px;
$f_l  : 22px;
$f_m  : 18px;
$f_r  : 16px;
$f_s  : 15px;
$f_xs : 14px;
